<h1 align="Center">DS 203 Assignment 6 - Regression</h1>
<h3 align="Center">Name: Rohan Rajesh Kalbag</h3>
<h3 align="Center">Roll: 20d170033</h3>

# Exercise 1

In [1]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
file = pd.read_csv("/content/drive/MyDrive/Semesters/Semester 3 2021 Autumn/DS 203/Assignments/Linear Regression/Real_estate_valuation_data_set.csv")

In [2]:
display(file)

      No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0      1          2012.916667  ...     121.54024                        37.9
1      2          2012.916667  ...     121.53951                        42.2
2      3          2013.583333  ...     121.54391                        47.3
3      4          2013.500000  ...     121.54391                        54.8
4      5          2012.833333  ...     121.54245                        43.1
..   ...                  ...  ...           ...                         ...
409  410          2013.000000  ...     121.50381                        15.4
410  411          2012.666667  ...     121.54310                        50.0
411  412          2013.250000  ...     121.53986                        40.6
412  413          2013.000000  ...     121.54067                        52.5
413  414          2013.500000  ...     121.54310                        63.9

[414 rows x 8 columns]

## Training model using 80:20 train/test split

In [3]:
#Preliminaries
file['X7 transaction year'] = np.array(file['X1 transaction date']).astype(int) #making seperate column for year
file['X8 transaction month'] = np.rint(((np.array(file['X1 transaction date']) - np.array(file['X1 transaction date']).astype(int))*12)).astype(int) #making seperate column for month
#subtracting the integer part and multiplying fractional part by 12 and taking closest integer value
del file['X1 transaction date']
# removing the X1 transaction date column because of remaining two columns

xlabels = ['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude',	'X6 longitude','X7 transaction year','X8 transaction month']
ylabels = ['Y house price of unit area']
train = file.sample(frac = 0.8)
#randomly sampling 80% of the dataset
test = file.drop(train.index)
#sampling the remaining 20% that were not chosen 
display(train)
display(test)

      No  X2 house age  ...  X7 transaction year  X8 transaction month
388  389          10.4  ...                 2013                     6
266  267          17.8  ...                 2013                     3
247  248          21.7  ...                 2013                     4
18    19          16.9  ...                 2013                     5
349  350           7.8  ...                 2012                     9
..   ...           ...  ...                  ...                   ...
117  118          13.6  ...                 2013                     0
363  364          32.3  ...                 2013                     6
371  372           4.1  ...                 2013                     6
270  271          10.8  ...                 2013                     4
74    75           6.8  ...                 2012                    11

[331 rows x 9 columns]

      No  X2 house age  ...  X7 transaction year  X8 transaction month
5      6           7.1  ...                 2012                     8
7      8          20.3  ...                 2013                     5
13    14          20.4  ...                 2012                     8
15    16          35.7  ...                 2013                     7
17    18          17.7  ...                 2012                     9
..   ...           ...  ...                  ...                   ...
394  395          32.6  ...                 2013                     6
398  399          14.7  ...                 2013                     5
399  400          12.7  ...                 2012                    11
405  406          23.0  ...                 2012                     8
410  411           5.6  ...                 2012                     8

[83 rows x 9 columns]

In [4]:
linear_model = LinearRegression()
#creating object

## Coefficients of Trained Model

In [5]:
linear_model.fit(train[xlabels],train[ylabels])
#fitting with training model
#printing linear parameters
for i in range(len(ylabels)):
  print("Intercept for",ylabels[i],":", linear_model.intercept_[i])

for i in range(len(xlabels)):
  print("Slope for ",xlabels[i], linear_model.coef_[0][i])

Intercept for Y house price of unit area : -13615.705919859138
Slope for  X2 house age -0.27638027905597257
Slope for  X3 distance to the nearest MRT station -0.00454531208620169
Slope for  X4 number of convenience stores 1.1273349288754466
Slope for  X5 latitude 226.7711837936835
Slope for  X6 longitude 0.10607118206894392
Slope for  X7 transaction year 3.9664295437168997
Slope for  X8 transaction month 0.13962442037232117

## Predictions for Test Data

In [6]:
 #predicting using the model
 prediction = linear_model.predict(test[xlabels])
 no_entries = len(prediction)
 test["Y1"] = prediction

In [7]:
def display_predictions():
  #function to display the predicted values
  l = list(test['Y1'])
  j = list(test['Y house price of unit area'])
  print("Actual","|","Predicted")
  for i in range(len(l)):
    print(j[i],"|",l[i])

display_predictions()

Actual | Predicted
32.1 | 31.19021047563183
46.7 | 46.992668908349515
23.8 | 26.855610712653288
50.5 | 37.630304051217536
37.4 | 37.248667858446424
24.6 | 28.46491276985398
38.8 | 36.26524233611781
34.2 | 30.597948734557576
27.3 | 32.64834563395016
47.7 | 44.97245948940872
15.9 | 15.316819634190324
34.1 | 40.26532281697291
61.5 | 36.88648643759916
38.9 | 42.84807970751717
41.9 | 43.4041431459882
53.5 | 45.47330934048114
27.7 | 28.809257615272145
50.7 | 48.72007579143974
42.0 | 45.10228292335523
59.0 | 53.95547492433616
29.5 | 32.39653288144291
36.8 | 37.36000247595621
29.8 | 32.195920789081356
36.8 | 39.319963442689186
43.7 | 45.60014819284879
27.0 | 31.265367667347164
43.2 | 39.173039482842796
34.6 | 38.64203279058711
34.1 | 36.25559292428443
7.6 | 43.651824590790056
59.6 | 47.384965932675186
37.5 | 45.38363478641804
20.8 | 30.386536227970282
46.8 | 44.21108274022663
47.4 | 45.332909715665664
42.5 | 39.96957321802802
28.9 | 40.00667052169592
37.5 | 42.075047848506074
28.4 | 31.8089628912021
45.1 | 14.796876371468898
15.6 | 15.540792419125864
30.6 | 34.9501647972138
43.4 | 45.43287704301292
14.4 | 12.303324506447098
35.1 | 38.500361672400686
22.0 | 24.15362848694531
42.3 | 43.52539351291671
34.6 | 40.41178709681844
26.6 | 29.684957359695545
40.9 | 40.904455845935445
43.5 | 45.19408437743914
58.0 | 53.2282805137238
40.8 | 40.886678745007885
43.8 | 43.32366330529112
48.5 | 48.46541806631103
49.0 | 49.11131102465151
17.4 | 10.767038980362486
39.3 | 43.6689720356444
29.7 | 34.60316955275812
22.3 | 32.78945911968549
25.9 | 25.981541846244
40.1 | 46.01600898393008
29.3 | 42.32929425039765
27.7 | 30.833439331239788
24.5 | 40.218659300877334
42.0 | 46.6871029455051
30.9 | 35.477946667910146
46.6 | 44.05771869687669
11.2 | 8.97872177312638
28.6 | 32.34560711458835
45.1 | 48.97168660427997
47.1 | 45.96733925625267
33.1 | 42.196956586085435
29.5 | 29.24565326553602
24.8 | 26.20231429676278
23.8 | 31.35063978841754
55.3 | 40.92064960926655
35.3 | 39.27211514745068
24.7 | 14.933120479005083
23.0 | 33.91338782029743
37.3 | 39.338801368443455
37.2 | 38.01534053546857
50.0 | 50.40505008004584

<h2>Mean Square Error and $R^2$ Calculation

In [8]:
y = np.array(test[['Y house price of unit area']]) #actual values
p_y = np.array(test[['Y1']]) #predicted values

mse_y = (np.square(y- p_y)).mean() #mean square error

print("Mean Square Error of Model:",mse_y)

Mean Square Error of Model: 62.99908995949609

In [9]:
from sklearn.metrics import r2_score
#using an inbuilt function for the r^2 score which is 1 - RSS/TSS
r2 = r2_score(y, p_y)
print("R^2 score for this Linear Regression:",r2)

R^2 score for this Linear Regression: 0.5210981184760558

# Following same procedure for 60:40, 70:30, 90:10
##### (Not including the docstrings as code is same)

## Training model using 60:40 train/test split

In [10]:
xlabels = ['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude',	'X6 longitude','X7 transaction year','X8 transaction month']
ylabels = ['Y house price of unit area']
train = file.sample(frac = 0.6)
#randomly sampling 60% of the dataset
test = file.drop(train.index)
#sampling the remaining 40% that were not chosen 
display(train)
display(test)

      No  X2 house age  ...  X7 transaction year  X8 transaction month
197  198          34.4  ...                 2013                     3
245  246           7.5  ...                 2013                     5
175  176          30.2  ...                 2013                     1
190  191          35.3  ...                 2013                     6
52    53          32.1  ...                 2013                     7
..   ...           ...  ...                  ...                   ...
38    39           3.1  ...                 2012                     8
145  146           2.1  ...                 2012                    11
108  109          31.4  ...                 2013                     5
308  309          16.4  ...                 2013                     5
168  169          27.6  ...                 2013                     1

[248 rows x 9 columns]

      No  X2 house age  ...  X7 transaction year  X8 transaction month
0      1          32.0  ...                 2012                    11
2      3          13.3  ...                 2013                     7
7      8          20.3  ...                 2013                     5
9     10          17.9  ...                 2013                     5
11    12           6.3  ...                 2013                     4
..   ...           ...  ...                  ...                   ...
401  402           7.6  ...                 2013                     1
405  406          23.0  ...                 2012                     8
409  410          13.7  ...                 2013                     0
411  412          18.8  ...                 2013                     3
413  414           6.5  ...                 2013                     6

[166 rows x 9 columns]

## Training model using 70:30 train/test split

In [11]:
xlabels = ['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude',	'X6 longitude','X7 transaction year','X8 transaction month']
ylabels = ['Y house price of unit area']
train = file.sample(frac = 0.7)
#randomly sampling 70% of the dataset
test = file.drop(train.index)
#sampling the remaining 30% that were not chosen 
display(train)
display(test)

      No  X2 house age  ...  X7 transaction year  X8 transaction month
151  152           4.9  ...                 2013                     6
160  161           3.5  ...                 2012                    11
139  140          12.9  ...                 2012                     8
109  110           4.0  ...                 2013                     7
110  111           8.1  ...                 2013                     1
..   ...           ...  ...                  ...                   ...
350  351          13.2  ...                 2013                     0
25    26          29.3  ...                 2013                     1
135  136          18.9  ...                 2012                    11
338  339          31.5  ...                 2012                    11
58    59          30.3  ...                 2013                     6

[290 rows x 9 columns]

      No  X2 house age  ...  X7 transaction year  X8 transaction month
0      1          32.0  ...                 2012                    11
2      3          13.3  ...                 2013                     7
7      8          20.3  ...                 2013                     5
11    12           6.3  ...                 2013                     4
12    13          13.0  ...                 2012                    11
..   ...           ...  ...                  ...                   ...
402  403          12.7  ...                 2012                    10
406  407           1.9  ...                 2013                     2
407  408           5.2  ...                 2013                     0
409  410          13.7  ...                 2013                     0
413  414           6.5  ...                 2013                     6

[124 rows x 9 columns]

In [12]:
linear_model = LinearRegression()

## Coefficients of Trained Model

In [13]:
linear_model.fit(train[xlabels],train[ylabels])

for i in range(len(ylabels)):
  print("Intercept for",ylabels[i],":", linear_model.intercept_[i])

for i in range(len(xlabels)):
  print("Slope for ",xlabels[i], linear_model.coef_[0][i])

Intercept for Y house price of unit area : -6276.7911198685715
Slope for  X2 house age -0.2955130720259875
Slope for  X3 distance to the nearest MRT station -0.005218448273325772
Slope for  X4 number of convenience stores 1.0325809585895656
Slope for  X5 latitude 183.1579386108479
Slope for  X6 longitude -81.6593797902427
Slope for  X7 transaction year 5.7983272291929
Slope for  X8 transaction month 0.45229667217849606

## Predictions for Test Data

In [14]:
 prediction = linear_model.predict(test[xlabels])
 no_entries = len(prediction)
 test["Y1"] = prediction

In [15]:
display_predictions()

Actual | Predicted
37.9 | 45.77548340969406
47.3 | 48.15891993326841
46.7 | 46.493837218687986
58.1 | 53.12287239248417
39.3 | 41.070235513917396
50.5 | 37.23884017945511
37.4 | 37.77354022528016
51.6 | 49.26941161702689
57.1 | 45.44102922692946
34.2 | 30.45721809081988
22.9 | 31.5658031429557
47.7 | 43.67624582280314
18.2 | 18.378527450144247
42.0 | 46.21616238756542
13.4 | 14.25854392104884
27.0 | 35.68976758196277
13.7 | 24.201952097662797
21.3 | 35.71451035942846
44.3 | 42.73500437270741
59.0 | 54.39110848741166
48.1 | 46.09677984222344
27.0 | 31.26428660163947
48.0 | 36.91707139353912
21.8 | 28.924725199521163
62.2 | 53.545617757459695
45.7 | 44.790799351431815
47.1 | 47.49884474007649
26.6 | 31.975904500781326
23.1 | 35.59806534512791
53.3 | 42.1011988598475
48.6 | 48.720679515755364
55.0 | 48.87595441976919
41.0 | 42.651872446978814
30.7 | 38.171731550306504
47.4 | 45.88838937123637
43.5 | 39.69122230620633
51.4 | 45.95617180300087
28.9 | 41.40213977748863
37.5 | 41.5473548786822
43.2 | 46.47296367667968
15.6 | 17.08343832659739
18.3 | 28.284900765053862
37.4 | 37.040007045070524
58.8 | 48.030463689817225
23.6 | 35.364357366060176
18.8 | 17.94698318482915
21.8 | 19.739437702431132
21.5 | 30.7283560566475
20.5 | 14.989440117856248
42.3 | 43.16274234585126
34.6 | 41.01178624688873
39.1 | 39.78336433710501
45.9 | 47.313429203315536
31.5 | 32.67515470469425
44.0 | 49.61006856590666
40.9 | 40.013480346886354
52.2 | 49.632280166697456
20.9 | 36.9841222418936
48.1 | 46.18469799320792
43.8 | 43.977474866823286
78.3 | 44.02153858285146
38.5 | 39.533845335819024
42.3 | 39.051997356436914
49.0 | 49.17297618793418
12.8 | 15.380959687770883
23.9 | 35.706366816420996
39.0 | 39.48655592117939
48.2 | 45.90485882114717
51.8 | 46.724476562018936
17.4 | 10.071821368006567
43.9 | 40.728402954006924
24.4 | 31.20387050926456
49.7 | 47.7962283453935
27.7 | 32.5201094144486
31.1 | 42.26756816358102
56.3 | 50.60882709735051
51.0 | 47.89289158124029
44.5 | 47.08814854083903
38.1 | 44.81508180625315
21.8 | 32.02428314767985
16.7 | 17.13104376207957
46.1 | 46.707868447051624
36.9 | 46.29251807128185
23.2 | 32.92440327637178
55.0 | 45.051578458644144
50.2 | 43.92783431609587
19.1 | 26.59391930514994
42.2 | 40.67862998568489
37.5 | 37.517941194982086
37.7 | 41.00258345884777
33.1 | 41.59915743012334
38.1 | 38.78466393082908
23.6 | 35.00921345639563
30.9 | 34.54884981450323
50.4 | 50.53630925928337
37.0 | 38.026523551040555
46.6 | 41.80489282610324
41.2 | 27.332604671030822
37.9 | 41.54593786053374
11.2 | 12.095273910398646
47.0 | 43.74579280536818
28.6 | 34.09196885149322
45.1 | 48.720679515755364
24.7 | 27.959999970622448
63.3 | 39.38150098083315
43.1 | 41.614924229746066
41.5 | 39.36061897212949
30.5 | 35.742768795335905
56.8 | 50.53977014067277
37.4 | 39.4169462662594
12.9 | 14.143949387905195
46.6 | 50.659503487010625
55.3 | 42.45053120489047
25.6 | 32.822190078583844
38.6 | 44.147553104673534
31.9 | 26.40415266697073
32.2 | 44.69018087782024
37.3 | 40.89216739860876
35.5 | 40.800043433817336
28.5 | 40.382899537119556
40.5 | 49.95892040792114
22.3 | 25.364425166361798
15.4 | 16.208396289443044
63.9 | 53.96836312243522

<h2>Mean Square Error and $R^2$ Calculation

In [16]:
y = np.array(test[['Y house price of unit area']])
p_y = np.array(test[['Y1']]) 

mse_y = (np.square(y- p_y)).mean()

print("Mean Square Error of Model:",mse_y)

Mean Square Error of Model: 55.56076643690712

In [17]:
from sklearn.metrics import r2_score
r2 = r2_score(y, p_y)
print("R^2 score for this Linear Regression:",r2)

R^2 score for this Linear Regression: 0.6880319344527628

## Training model using 90:10 train/test split

In [18]:
xlabels = ['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude',	'X6 longitude','X7 transaction year','X8 transaction month']
ylabels = ['Y house price of unit area']
train = file.sample(frac = 0.9)
#randomly sampling 90% of the dataset
test = file.drop(train.index)
#sampling the remaining 10% that were not chosen 
display(train)
display(test)

      No  X2 house age  ...  X7 transaction year  X8 transaction month
120  121          13.3  ...                 2013                     2
328  329          15.9  ...                 2012                    10
315  316          15.6  ...                 2013                     1
144  145          11.9  ...                 2013                     1
240  241          11.0  ...                 2013                     1
..   ...           ...  ...                  ...                   ...
349  350           7.8  ...                 2012                     9
28    29          19.2  ...                 2013                     6
212  213          17.6  ...                 2013                     4
47    48          35.9  ...                 2013                     7
388  389          10.4  ...                 2013                     6

[373 rows x 9 columns]

      No  X2 house age  ...  X7 transaction year  X8 transaction month
10    11          34.8  ...                 2013                     1
11    12           6.3  ...                 2013                     4
23    24          10.1  ...                 2013                     1
29    30           7.1  ...                 2013                     1
42    43          36.1  ...                 2013                     5
44    45           2.7  ...                 2013                     7
58    59          30.3  ...                 2013                     6
62    63          17.2  ...                 2012                    11
88    89           8.9  ...                 2012                    11
93    94          31.9  ...                 2012                    11
97    98          28.4  ...                 2013                     1
102  103           1.1  ...                 2013                     1
108  109          31.4  ...                 2013                     5
123  124           0.0  ...                 2013                     5
142  143          19.8  ...                 2013                     5
147  148           3.2  ...                 2012                     9
148  149          16.4  ...                 2013                     6
151  152           4.9  ...                 2013                     6
168  169          27.6  ...                 2013                     1
176  177          13.9  ...                 2012                    10
179  180          14.0  ...                 2013                     1
187  188           8.9  ...                 2013                     0
188  189          34.8  ...                 2012                    11
225  226           1.1  ...                 2013                     3
233  234          39.7  ...                 2013                     4
236  237           3.6  ...                 2013                     2
250  251          39.2  ...                 2013                     2
275  276           1.5  ...                 2012                     8
285  286          30.1  ...                 2013                     2
292  293          17.5  ...                 2013                     1
305  306          16.2  ...                 2013                     1
306  307          14.4  ...                 2013                     6
322  323          12.9  ...                 2013                     0
326  327           4.1  ...                 2013                     6
330  331          32.0  ...                 2013                     1
338  339          31.5  ...                 2012                    11
339  340           1.7  ...                 2013                     4
347  348          17.4  ...                 2013                     7
380  381          14.1  ...                 2013                     4
402  403          12.7  ...                 2012                    10
404  405          16.4  ...                 2013                     4

[41 rows x 9 columns]

In [19]:
linear_model = LinearRegression()

## Coefficients of Trained Model

In [20]:
linear_model.fit(train[xlabels],train[ylabels])

for i in range(len(ylabels)):
  print("Intercept for",ylabels[i],":", linear_model.intercept_[i])

for i in range(len(xlabels)):
  print("Slope for ",xlabels[i], linear_model.coef_[0][i])

Intercept for Y house price of unit area : -11250.767646276188
Slope for  X2 house age -0.24835326560444124
Slope for  X3 distance to the nearest MRT station -0.004746929375458089
Slope for  X4 number of convenience stores 1.149724463701289
Slope for  X5 latitude 224.2611583368565
Slope for  X6 longitude -20.460596123283334
Slope for  X7 transaction year 4.0638200566939755
Slope for  X8 transaction month 0.23406080507761126

## Predictions for Test Data

In [21]:
 prediction = linear_model.predict(test[xlabels])
 no_entries = len(prediction)
 test["Y1"] = prediction

In [22]:
display_predictions()

Actual | Predicted
41.4 | 34.451134916440424
58.1 | 52.91977095576294
47.9 | 48.24435723984607
57.1 | 45.92034496865563
34.7 | 36.700823740831765
53.9 | 46.598233118818825
22.6 | 12.59974275131026
27.7 | 29.080757965355588
48.0 | 36.12842817447927
16.1 | 23.393659333345568
34.6 | 38.237861703057206
54.4 | 47.682395441859626
34.1 | 36.254201634586934
45.5 | 43.42899172829857
37.5 | 41.58875806004653
43.2 | 46.779804465983034
45.1 | 14.366497977243853
44.7 | 53.96724214006463
37.4 | 37.76778582776387
19.2 | 11.971474482956182
42.6 | 39.91149920049247
22.0 | 21.918019302913308
44.3 | 42.407936230538326
49.0 | 48.15051705201404
32.4 | 44.85647014208371
61.9 | 55.0319212452323
30.0 | 40.46612263942734
49.7 | 47.5634244885332
55.3 | 36.968899956196765
24.5 | 39.629720432380054
55.0 | 45.935013385142156
50.2 | 41.92974284705997
33.1 | 40.8570275652346
62.1 | 48.130918081435084
12.8 | 25.082217447177754
36.3 | 42.16605718067876
50.4 | 50.150112657793215
11.2 | 8.878254886492869
53.3 | 47.158737658142854
28.5 | 39.18348621243604
41.2 | 46.58752514725347

<h2>Mean Square Error and $R^2$ Calculation

In [23]:
y = np.array(test[['Y house price of unit area']])
p_y = np.array(test[['Y1']]) 

mse_y = (np.square(y- p_y)).mean()

print("Mean Square Error of Model:",mse_y)

Mean Square Error of Model: 83.01490971356081

In [24]:
from sklearn.metrics import r2_score
r2 = r2_score(y, p_y)
print("R^2 score for this Linear Regression:",r2)

R^2 score for this Linear Regression: 0.5338390037341643

## Ridge Regression

In [25]:
from sklearn.linear_model import Ridge
lambda_values = [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]
#An array with lambda values
train_test_ratios = [0.8, 0.6, 0.7, 0.9]
#An array with train:test ratios
for lambda_val in lambda_values:
  for ratio in train_test_ratios:
    #iterating through
    print('\n')
    print("For lambda =",lambda_val,"and train:test ratio",ratio)
    xlabels = ['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude',	'X6 longitude','X7 transaction year','X8 transaction month']
    ylabels = ['Y house price of unit area']
    line_model = Ridge(alpha = lambda_val) #creating ridge object with lambda(here alpha) value equal to lambda_val
    #sampling data as before
    train = file.sample(frac = ratio) 
    test = file.drop(train.index)
    line_model.fit(train[xlabels],train[ylabels]) #training model
    prediction = linear_model.predict(test[xlabels]) #predicting using model
    no_entries = len(prediction)
    test["Y1"] = prediction

    #printing relevant outputs
    y = np.array(test[['Y house price of unit area']])
    p_y = np.array(test[['Y1']]) 
    mse_y = (np.square(y- p_y)).mean()
    print("Mean Square Error of Model:",mse_y)
    from sklearn.metrics import r2_score
    r2 = r2_score(y, p_y)
    print("R^2 score for this Ridge Regression:",r2)

For lambda = 0.001 and train:test ratio 0.8
Mean Square Error of Model: 114.14271493444035
R^2 score for this Ridge Regression: 0.5054208822369471


For lambda = 0.001 and train:test ratio 0.6
Mean Square Error of Model: 99.10210278861838
R^2 score for this Ridge Regression: 0.5277100909374697


For lambda = 0.001 and train:test ratio 0.7
Mean Square Error of Model: 67.7033303882622
R^2 score for this Ridge Regression: 0.6236380597115043


For lambda = 0.001 and train:test ratio 0.9
Mean Square Error of Model: 97.00678615389448
R^2 score for this Ridge Regression: 0.4289673255439217


For lambda = 0.005 and train:test ratio 0.8
Mean Square Error of Model: 67.53941539639622
R^2 score for this Ridge Regression: 0.6151057662519309


For lambda = 0.005 and train:test ratio 0.6
Mean Square Error of Model: 63.04588604225011
R^2 score for this Ridge Regression: 0.6287304371914118


For lambda = 0.005 and train:test ratio 0.7
Mean Square Error of Model: 105.41023033242438
R^2 score for this Ridge Regression: 0.48111203324688556


For lambda = 0.005 and train:test ratio 0.9
Mean Square Error of Model: 74.14696877594012
R^2 score for this Ridge Regression: 0.5672652900594577


For lambda = 0.01 and train:test ratio 0.8
Mean Square Error of Model: 56.943346730659464
R^2 score for this Ridge Regression: 0.6773971405588453


For lambda = 0.01 and train:test ratio 0.6
Mean Square Error of Model: 90.998547800603
R^2 score for this Ridge Regression: 0.5405204126458192


For lambda = 0.01 and train:test ratio 0.7
Mean Square Error of Model: 49.62080560933458
R^2 score for this Ridge Regression: 0.7004747201987882


For lambda = 0.01 and train:test ratio 0.9
Mean Square Error of Model: 64.95813459847581
R^2 score for this Ridge Regression: 0.5608986215396834


For lambda = 0.05 and train:test ratio 0.8
Mean Square Error of Model: 70.98554484352675
R^2 score for this Ridge Regression: 0.6489855795887521


For lambda = 0.05 and train:test ratio 0.6
Mean Square Error of Model: 110.44329417131756
R^2 score for this Ridge Regression: 0.5052377158952837


For lambda = 0.05 and train:test ratio 0.7
Mean Square Error of Model: 58.71003357904141
R^2 score for this Ridge Regression: 0.6648140757691143


For lambda = 0.05 and train:test ratio 0.9
Mean Square Error of Model: 115.26813294830559
R^2 score for this Ridge Regression: 0.5279900916755133


For lambda = 0.1 and train:test ratio 0.8
Mean Square Error of Model: 71.21167313775811
R^2 score for this Ridge Regression: 0.5980377824620249


For lambda = 0.1 and train:test ratio 0.6
Mean Square Error of Model: 61.63782596770322
R^2 score for this Ridge Regression: 0.6086468953249619


For lambda = 0.1 and train:test ratio 0.7
Mean Square Error of Model: 102.3708343898089
R^2 score for this Ridge Regression: 0.5572846467601604


For lambda = 0.1 and train:test ratio 0.9
Mean Square Error of Model: 74.63549715077276
R^2 score for this Ridge Regression: 0.5612540608078102


For lambda = 0.5 and train:test ratio 0.8
Mean Square Error of Model: 61.68225544640334
R^2 score for this Ridge Regression: 0.618509447875325


For lambda = 0.5 and train:test ratio 0.6
Mean Square Error of Model: 59.6530389627921
R^2 score for this Ridge Regression: 0.6418467063538331


For lambda = 0.5 and train:test ratio 0.7
Mean Square Error of Model: 80.06576978762497
R^2 score for this Ridge Regression: 0.5963839058732004


For lambda = 0.5 and train:test ratio 0.9
Mean Square Error of Model: 54.137059289114696
R^2 score for this Ridge Regression: 0.6668760609484795

## Lasso Regression

In [26]:
from sklearn.linear_model import Lasso
lambda_values = [0.001, 0.005, 0.01, 0.05, 0.1, 0.5]
#An array with lambda values
train_test_ratios = [0.8, 0.6, 0.7, 0.9]
#An array with train:test ratios
for lambda_val in lambda_values:
  for ratio in train_test_ratios:
    print('\n')
    print("For lambda =",lambda_val,"and train:test ratio",ratio)
    xlabels = ['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude',	'X6 longitude','X7 transaction year','X8 transaction month']
    ylabels = ['Y house price of unit area']
    line_model = Lasso(alpha = lambda_val) #creating lasso object with lambda(here alpha) value equal to lambda_val
    train = file.sample(frac = ratio)
    test = file.drop(train.index)

    line_model.fit(train[xlabels],train[ylabels]) #training the model
    prediction = linear_model.predict(test[xlabels]) #predicting Y
    no_entries = len(prediction)
    test["Y1"] = prediction
    #printing various values
    y = np.array(test[['Y house price of unit area']])
    p_y = np.array(test[['Y1']]) 
    mse_y = (np.square(y- p_y)).mean()

    print("Mean Square Error of Model:",mse_y)

    from sklearn.metrics import r2_score
    r2 = r2_score(y, p_y)
    print("R^2 score for this Lasso Regression:",r2)

For lambda = 0.001 and train:test ratio 0.8
Mean Square Error of Model: 119.5612409695543
R^2 score for this Lasso Regression: 0.5586350103059476


For lambda = 0.001 and train:test ratio 0.6
Mean Square Error of Model: 63.14585103929801
R^2 score for this Lasso Regression: 0.6457392639609594


For lambda = 0.001 and train:test ratio 0.7
Mean Square Error of Model: 74.37635044209509
R^2 score for this Lasso Regression: 0.602143877287724


For lambda = 0.001 and train:test ratio 0.9
Mean Square Error of Model: 95.71221129826299
R^2 score for this Lasso Regression: 0.5512616510476047


For lambda = 0.005 and train:test ratio 0.8
Mean Square Error of Model: 64.10715814813194
R^2 score for this Lasso Regression: 0.6469671427153141


For lambda = 0.005 and train:test ratio 0.6
Mean Square Error of Model: 75.80573812153055
R^2 score for this Lasso Regression: 0.5645524738702882


For lambda = 0.005 and train:test ratio 0.7
Mean Square Error of Model: 55.76425773281003
R^2 score for this Lasso Regression: 0.6562493388684794


For lambda = 0.005 and train:test ratio 0.9
Mean Square Error of Model: 42.33581786445753
R^2 score for this Lasso Regression: 0.6985764511049275


For lambda = 0.01 and train:test ratio 0.8
Mean Square Error of Model: 57.44286918427072
R^2 score for this Lasso Regression: 0.6434165622132526


For lambda = 0.01 and train:test ratio 0.6
Mean Square Error of Model: 75.68580572371515
R^2 score for this Lasso Regression: 0.5902254101611102


For lambda = 0.01 and train:test ratio 0.7
Mean Square Error of Model: 77.36916736714703
R^2 score for this Lasso Regression: 0.561831957223186


For lambda = 0.01 and train:test ratio 0.9
Mean Square Error of Model: 35.171896249660136
R^2 score for this Lasso Regression: 0.8045205963849354


For lambda = 0.05 and train:test ratio 0.8
Mean Square Error of Model: 76.94643037454473
R^2 score for this Lasso Regression: 0.6345826154706735


For lambda = 0.05 and train:test ratio 0.6
Mean Square Error of Model: 100.68919008280689
R^2 score for this Lasso Regression: 0.5353986850489438


For lambda = 0.05 and train:test ratio 0.7
Mean Square Error of Model: 70.18085551823704
R^2 score for this Lasso Regression: 0.6413336600686393


For lambda = 0.05 and train:test ratio 0.9
Mean Square Error of Model: 54.21034241427657
R^2 score for this Lasso Regression: 0.5743469062407129


For lambda = 0.1 and train:test ratio 0.8
Mean Square Error of Model: 59.71092240412882
R^2 score for this Lasso Regression: 0.6649235533907711


For lambda = 0.1 and train:test ratio 0.6
Mean Square Error of Model: 51.91823565962087
R^2 score for this Lasso Regression: 0.6799913142140662


For lambda = 0.1 and train:test ratio 0.7
Mean Square Error of Model: 61.24042865401664
R^2 score for this Lasso Regression: 0.6100853655596536


For lambda = 0.1 and train:test ratio 0.9
Mean Square Error of Model: 98.715142381262
R^2 score for this Lasso Regression: 0.49478320348769933


For lambda = 0.5 and train:test ratio 0.8
Mean Square Error of Model: 73.49231490404162
R^2 score for this Lasso Regression: 0.5049136234441998


For lambda = 0.5 and train:test ratio 0.6
Mean Square Error of Model: 72.28703504539521
R^2 score for this Lasso Regression: 0.6204545019797898


For lambda = 0.5 and train:test ratio 0.7
Mean Square Error of Model: 113.18259149163703
R^2 score for this Lasso Regression: 0.4910751518836902


For lambda = 0.5 and train:test ratio 0.9
Mean Square Error of Model: 80.74712396305405
R^2 score for this Lasso Regression: 0.48530392939505107

# Exercise 2

In [27]:
# Preliminaries

# making a dictionary for column names as the given file doesnt have column class names
data_columns={0: 'Age of patient at the time of operation', 1: "Patient's year of operation", 2:"Number of positive auxillary nodes detected",3:"Survival status"}
file = pd.read_csv("/content/drive/MyDrive/Semesters/Semester 3 2021 Autumn/DS 203/Assignments/Linear Regression/haberman.csv", header=None)
file.rename(columns = data_columns, inplace=True) #renaming the first column to the dictionary made above

In [28]:
display(file)

     Age of patient at the time of operation  ...  Survival status
0                                         30  ...                1
1                                         30  ...                1
2                                         30  ...                1
3                                         31  ...                1
4                                         31  ...                1
..                                       ...  ...              ...
301                                       75  ...                1
302                                       76  ...                1
303                                       77  ...                1
304                                       78  ...                2
305                                       83  ...                2

[306 rows x 4 columns]

In [29]:
xlabels = list(data_columns.values())[:-1] # taking all but last column name
ylabels = list(data_columns.values())[-1]  # taking the last column name 

train = file.sample(frac = 0.8) #sampling 80% of the data for training
test = file.drop(train.index) #taking rest for testing

display(train)
display(test)

     Age of patient at the time of operation  ...  Survival status
89                                        46  ...                2
146                                       52  ...                1
31                                        38  ...                1
194                                       56  ...                1
117                                       49  ...                1
..                                       ...  ...              ...
81                                        45  ...                2
2                                         30  ...                1
224                                       60  ...                2
32                                        38  ...                1
96                                        47  ...                2

[245 rows x 4 columns]

     Age of patient at the time of operation  ...  Survival status
8                                         34  ...                2
12                                        34  ...                1
16                                        36  ...                1
23                                        37  ...                1
25                                        38  ...                1
..                                       ...  ...              ...
290                                       70  ...                1
293                                       72  ...                2
295                                       72  ...                1
296                                       72  ...                1
298                                       73  ...                1

[61 rows x 4 columns]

In [30]:
from sklearn.linear_model import LogisticRegression
linear_model = LogisticRegression()
linear_model.fit(train[xlabels],train[ylabels]) #training model

#Printing model properties
print("Intercept for",ylabels,":", linear_model.intercept_[0])

for i in range(len(xlabels)):
  print("Slope for ",xlabels[i], linear_model.coef_[0][i])

Intercept for Survival status : -1.0737278143620466
Slope for  Age of patient at the time of operation 0.024683911567323462
Slope for  Patient's year of operation -0.02567233290090618
Slope for  Number of positive auxillary nodes detected 0.08529924450913685

In [31]:
prediction = linear_model.predict(test[xlabels])
test['Predicted Survival'] = prediction

display(test)

     Age of patient at the time of operation  ...  Predicted Survival
8                                         34  ...                   1
12                                        34  ...                   1
16                                        36  ...                   1
23                                        37  ...                   1
25                                        38  ...                   1
..                                       ...  ...                 ...
290                                       70  ...                   1
293                                       72  ...                   1
295                                       72  ...                   1
296                                       72  ...                   1
298                                       73  ...                   1

[61 rows x 5 columns]

### Evaluating Classification Error

In [32]:
def classification_error(y,y_pred):
  #defining this function which counts number of unequal outputs and divides by total number of outputs
  count = 0
  m = len(y)
  for i in range(m):
    if(y[i]!=y_pred[i]):
      count += 1
  return (count/m)

print("Classification Error for this Logistic Regression is",classification_error(list(test['Survival status']),list(test['Predicted Survival'])))

Classification Error for this Logistic Regression is 0.2459016393442623

In [33]:
from sklearn.linear_model import LogisticRegression
#varying over different train:test ratios and performing same operation as above for each
test_train = [0.6, 0.7, 0.9]
for ratio in test_train:
  xlabels = list(data_columns.values())[:-1]
  ylabels = list(data_columns.values())[-1]
  train = file.sample(frac = ratio)
  test = file.drop(train.index)
  linear_model = LogisticRegression()
  linear_model.fit(train[xlabels],train[ylabels])
  print("For train:test ratio",ratio)
  print("Intercept for",ylabels,":", linear_model.intercept_[0])
  for i in range(len(xlabels)):
    print("Slope for ",xlabels[i], linear_model.coef_[0][i])
  prediction = linear_model.predict(test[xlabels])
  test['Predicted Survival'] = prediction
  print("Classification Error for this Logistic Regression is",classification_error(list(test['Survival status']),list(test['Predicted Survival'])),'\n')

For train:test ratio 0.6
Intercept for Survival status : -1.9523347475653736
Slope for  Age of patient at the time of operation 0.03314909897065988
Slope for  Patient's year of operation -0.019844993869537822
Slope for  Number of positive auxillary nodes detected 0.06945565412481786
Classification Error for this Logistic Regression is 0.26229508196721313

For train:test ratio 0.7
Intercept for Survival status : -3.76482415050244
Slope for  Age of patient at the time of operation 0.016279576880650154
Slope for  Patient's year of operation 0.023476312568931616
Slope for  Number of positive auxillary nodes detected 0.10572898567830112
Classification Error for this Logistic Regression is 0.25

For train:test ratio 0.9
Intercept for Survival status : -3.188096396286842
Slope for  Age of patient at the time of operation 0.02192669125509064
Slope for  Patient's year of operation 0.009942248768599997
Slope for  Number of positive auxillary nodes detected 0.09353532948834357
Classification Error for this Logistic Regression is 0.25806451612903225